<div class = "side_top">
  <div class = "user_name">
    masa
  </div>
  <a class = "chat_maker" href = "#">
    チャットを作成する
  </a>
</div>
<div class = "side_main">
  <ul>
    <li class = "room_name">room1</li>
    <li class = "room_name">room2</li>
  </ul>
</div>