<div class = "side_top">
  <%= link_to current_user.name, edit_user_path(current_user), class: "user_name" %>
  <a class = "chat_maker" href = "#">
    チャットを作成する
  </a>
</div>
<div class = "side_main">
  <ul>
    <li class = "room_name">room1</li>
    <li class = "room_name">room2</li>
  </ul>
</div>